<!-- <div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
    <div class="mw7 center ph3">
        <div class="db mb3">
            <div class="mw7 relative bg-fix-primary mb3">
            <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
                {{.title}}
            </h1>
            </div>
            <div class="mw7 relative bg-fix-primary">
            {{ if .subtitle }}
            <p class="b f4 di lh-title mb3 white mw6 bg-primary">
                {{.subtitle}}
            </p>
            {{ end }}
            </div>
        </div>
    </div>
</div> -->

<div class="p-5 text-center bg-image rounded-3" style="
        background-image: url('{{.imageUrl}}');
        height: 500px;
        background-size: 100% 100%;
        ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 400px;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">{{.heading}}</h1>
                <h4 class="mb-3">{{.subtitle}}</h4>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button">SALE YOUR PROPERTY</a>
            </div>
        </div>
    </div>
</div>