{{define "main"}}
<!-- carousel -->
    {{ partial "carousel" (dict "imageUrl1" .Params.image1 "imageUrl2" .Params.image2 "imageUrl3" .Params.image3 ) }}
<!-- carousel -->
<!-- Hero -->
    {{ partial "hero" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "heading" .Params.heading) }}
<!-- Hero -->
    <div style="padding: 25px; background-color: #d8d8d82b;">
        <h2 style="text-align: center;">{{.Params.textHeading}}</h2>
    </div>
    {{ partial "card" (dict "imageUrl" .Params.image) }}
{{end}}